:root {
  --envelope-width: 360px;
  --border-radius: .5rem;
  --smoky-black: #11120D;
  --olive-drab: #565449;
  --bone: #d8cfbc;
  --floral-white: #fffbf4;
  --bg-color: #90bbff;
  --envelope-color: #aaafff;
  --envelope-color-m: #fff2c5;
  --envelope-color-d: #feeba7;
  --envelope-color-xd: #ffe999;
  --tap-color: #a09bff;
  --section-h: 40vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  display: flex;
  min-height: 400vh;
  background-color: var(--bg-color);
  color: var(--olive-drab);
  /* overflow-x: hidden; */
  overflow-y: hidden;
}

h1 {
  font-family: "Archivo", sans-serif;
  font-size: 3rem;
  /* white-space: nowrap; */
}

p {
  font-family: sans-serif;
  font-size: 1rem;
}

#root {
  position: relative;
  width: 100%;
}

img {
  width: 100%;
  display: block;
  border-radius: var(--border-radius);
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  inset: 0;
}

.envelopeFlap {
  transform-origin: top;
}

/* SLIDE IN ON LOAD */

/* END OF SLIDE IN ON LOAD */


/* ENVELOPE */
.envelopeContainer {
  position: absolute;
  pointer-events: none;
}

.envelopeFlap {
  width: var(--envelope-width);
  height: 200px;
  background-color: #11120D;
  background-color: var(--envelope-color-d);
  clip-path: polygon(100% 0, 100% 20%, 50% 50%, 0 20%, 0 0);
  border-radius: 1rem; /* Adjust corners for visual effect */
  position: absolute;
  top: 0;
  z-index: 9;
}

.envelope {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 1rem;
  width: var(--envelope-width);
  height: 200px;
  background-color: #1c1e16;
  background-color: var(--envelope-color-m);
  clip-path: polygon(28% 34%, 73% 35%, 88% 0, 100% 0, 100% 100%, 0 100%, 0 0, 11% 0);
  border-radius: .5rem; /* Adjust corners for visual effect */

  position: relative;
  pointer-events: none;
}

.envelope .envelopeNames {
  padding: .5rem;
  color: var(--floral-white);
  opacity: .3;
}

.envelopeFront {
  --size: 200px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: var(--size);
  height: calc(var(--size) / 2);
  background-color: #1c1e16;
  background-color: var(--envelope-color-m);
  border-radius: calc(var(--border-radius) * 2);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.mainContainer .tapToOpen {
  --size: 24px;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translateX(-50%);
  width: var(--size);
  height: var(--size);
  z-index: 11;
}

.mainContainer .tapToOpen .outter {
  width: 100%;
  height: 100%;
  background-color: var(--tap-color);
  border-radius: 100%;
  animation: outterBlink 2000ms ease-in-out infinite;
}

.mainContainer .tapToOpen .inner {
  --size: 12px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--tap-color);
  border-radius: 100%;
  animation: innerBlink 2000ms ease-in-out infinite;
}

@keyframes outterBlink {
  0% {
    opacity: .25;
    transform: scale(1);
  }

  50% {
    opacity: .5; /* Make it visible again */
    transform: scale(1.5);
  }

  100% {
    opacity: .25;
    transform: scale(1);
  }
}

@keyframes innerBlink {
  0% {
    opacity: .25;
    transform: scale(1), translate(-50%, -50%);
  }

  50% {
    opacity: 1;
    transform: scale(1), translate(-50%, -50%);
  }

  100% {
    opacity: .25;
    transform: scale(1), translate(-50%, -50%);
  }
}



.envelopeBg {
  background-color: var(--smoky-black);
  background-color: var(--envelope-color-xd);
  width: var(--envelope-width);
  border-radius: .5rem;
  position: absolute;
  inset: 0;
  z-index: -1;
}
/*END OF  ENVELOPE */


/* LETTER */
.letterContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  /* justify-content: center; */
  border-radius: .5rem;
  background-color: var(--floral-white);
  width: calc(var(--envelope-width) * .95);
  height: 180px;
  /* transition: all 400ms ease-in-out; */
  overflow: hidden;
  z-index: -1;
}

.letterContainer .letterTopBar {
  padding: 1rem;
  width: 100%;
  background-color: var(--floral-white);
  z-index: 3;
}

.letterContainer .letterInner {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.letterContainer .letterBg {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: var(--envelope-width);
  border-radius: 1rem;
  height: 180px;
  background-color: var(--floral-white);
  z-index: -1;
}

.letterContainer .letterTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
}

.letterContainer .letterTop * {
  transform: translateY(100%);
  opacity: 0;
}

.letterContainer .guestsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: left;
  width: fit-content;
  min-height: 15rem;
  font-weight: bold;
}

.letterContainer .guestsContainer .guestsInner {
  flex-flow: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--section-h);
  width: 100%;
}

.letterContainer .introContainer {
  height: var(--section-h);
}

.letterContainer .guestsContainer .guestsInner .dearContainer, .letterContainer .guestsContainer .guestsInner .guestNameContainer, .letterContainer .guestsContainer .introContainer, .letterContainer .mainParagraphContainer {
  overflow: hidden;
}

.letterContainer .guestsContainer .guestsInner .dearContainer .dear, .letterContainer .guestsContainer .guestsInner .guestNameContainer .guestName, .letterContainer .guestsContainer .introContainer .intro, .letterContainer .mainParagraphContainer .mainParagraph {
  transform: translateY(100%);
  opacity: 0;
}

.letterContainer .guestsContainer .introContainer .intro {
  font-weight: normal;
}

.mainImageContainer {
  position: relative;
  min-height: fit-content;
  border-radius: var(--border-radius);
  /* overflow: hidden; */
}

.mainImageContainer .mainImageTopText {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background-color: var(--envelope-color-m);
  padding: .5rem;
  border-radius: calc(var(--border-radius) / 2);
  font-weight: bold;
  opacity: 0;
  z-index: 1;
}

.mainImageContainer .mainImageTopText p {
  font-size: 1.2rem;
}

.imgOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: var(--smoky-black);
  border-radius: var(--border-radius);
  position: absolute;
  inset: 0;
  opacity: 1;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.imgOverlay .imgOverlayInner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  animation: overlayFrames 800ms steps(3) infinite forwards;
}

@keyframes overlayFrames {
  0% {left: 100%}
  100% {left: -200%;}
}

.imgOverlay .imgOverlayInner .overlayFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

.mainImageContainer .imageInner, .imagesContainer .imageInner {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.letterContainer .guestNameContainer, .introContainer .intro, .letterContainer .mainParagraph {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.letterContainer .mainParagraph {
  height: var(--section-h);
}

.letterContainer .imagesContainer {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

/* END OF LETTER */

/* SCROLLDOWN ==================== */
.scrollDown {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--floral-white);
  font-size: 1.25rem;
  animation: scrollBlink 1000ms ease-in-out infinite;
  z-index: -1;
}

@keyframes scrollBlink {
  0%, 100% {opacity: 1;}
  50% {transform: translate(-50%, 8px);  opacity: 0;}
}
/* END OF SCROLLDOWN ==================== */

/* COUNTDOWN ===================== */
/* .letterInner .countDownContainer {
  width: 100%;
  overflow: hidden;
} */

.letterContainer .imagesContainer #dateContainer {
  position: relative;
}

.letterInner .countDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  background-color: var(--envelope-color-m);
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-size: .75rem;
  position: absolute;
  top: -.5rem;
  left: 50%;
  transform: translate(-50%, 100%) scale(.75);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

.countDown > * {
  display: flex;
  align-items: center;
  gap: .25rem;
  text-align: right;
}

.countDown p:first-child {
  padding: .25rem;
  border-radius: .25rem;
  background-color: var(--envelope-color-xd);
  font-weight: bold;
}
/* END OF COUNTDOWN ============== */

/* LOCATION ====================== */
#locationContainer {
  position: relative;
}
/* END OF LOCATION ====================== */

/* FINAL IMAGE ===================*/
#finalImageContainer {
  position: relative;
}
/* END OF FINAL IMAGE ============ */

/* ADMIN ========================= */
.adminPanel {
  display: flex;
  flex-flow: column;
  gap: 2rem ;
  padding: 2rem;
}

.adminPanel .optionsContainer {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.adminPanel .optionsContainer .optionContainer {
  display: flex;
  gap: .5rem;
}

.adminPanel button, .adminPanel input, .adminPanel .optionContainer label .adminPanel .optionContainer select {
  padding: .5rem .75rem;
  background-color: var(--floral-white);
  border: none;
  border-radius: var(--border-radius);
}

.adminPanel .invitationLink {
  display: flex;
  flex-flow: column;
  gap: .5rem;
}

button {
  font-weight: bold;
}

button:hover {
  opacity: .85;
  cursor: pointer;
}
/* END OF ADMIN ========================= */