:root {
  --envelope-width: 360px;
  --border-radius: .5rem;
  --smoky-black: #11120D;
  --olive-drab: #565449;
  --bone: #d8cfbc;
  --floral-white: #fffbf4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Archivo", sans-serif;
  min-height: 400vh;
  background-color: #87CEEB;
  color: var(--dark-gray);
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  white-space: nowrap;
}

img {
  width: 100%;
  display: block;
  border-radius: var(--border-radius);
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  inset: 0;
}

.envelopeFlap {
  transform-origin: top;
}


/* ENVELOPE */
.envelopeContainer {
  position: absolute;
  pointer-events: none;
}

.envelopeFlap {
  width: var(--envelope-width);
  height: 200px;
  background-color: #11120D;
  clip-path: polygon(100% 0, 100% 20%, 50% 50%, 0 20%, 0 0);
  position: absolute;
  top: 0;
  z-index: 9;
}

.envelope {
  display: flex;
  align-items: end;
  justify-content: start;
  width: var(--envelope-width);
  height: 200px;
  background-color: #1c1e16;
  clip-path: polygon(28% 34%, 73% 35%, 88% 0, 100% 0, 100% 100%, 0 100%, 0 0, 11% 0);
  border-radius: 0  0 var(--border-radius) var(--border-radius);
  position: relative;
  pointer-events: none;
}

.envelope .envelopeNames {
  padding: 1rem;
  color: var(--floral-white);
  opacity: .3;
}

.envelopeFront {
  --size: 200px;
  width: var(--size);
  height: calc(var(--size) / 2);
  background-color: #1c1e16;
  border-radius: calc(var(--border-radius) * 2);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.mainContainer .tapToOpen {
  --size: 24px;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translateX(-50%);
  width: var(--size);
  height: var(--size);
  z-index: 11;
}

.mainContainer .tapToOpen .outter {
  width: 100%;
  height: 100%;
  background-color: var(--olive-drab);
  border-radius: 100%;
  animation: outterBlink 1200ms ease-in-out infinite;
}

.mainContainer .tapToOpen .inner {
  --size: 12px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--olive-drab);
  border-radius: 100%;
  animation: innerBlink 1200ms ease-in-out infinite;
  animation-delay: 1000ms; 
}

@keyframes outterBlink {
  80% {
    opacity: 0;
    transform: scale(1.6);
  }

  100% {
    opacity: 1; /* Make it visible again */
    transform: scale(1);
  }
}

@keyframes innerBlink {
  10% {
    opacity: 0;
    transform: scale(2), translate(-50%, -50%);
  }

  100% {
    opacity: 1;
    transform: scale(1), translate(-50%, -50%);
  }
}



.envelopeBg {
  background-color: var(--smoky-black);
  width: var(--envelope-width);
  border-radius: .5rem;
  position: absolute;
  inset: 0;
  z-index: -1;
}
/*END OF  ENVELOPE */


/* LETTER */
.letterContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  /* justify-content: center; */
  padding-top: 2rem;
  border-radius: .5rem;
  background-color: var(--floral-white);
  width: calc(var(--envelope-width) * .95);
  height: 180px;
  /* transition: all 400ms ease-in-out; */
  overflow: hidden;
  z-index: -1;
}

.letterContainer .letterInner {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.letterBg {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: var(--envelope-width);
  border-radius: 1rem;
  height: 180px;
  background-color: var(--floral-white);
  z-index: -1;
}

.letterTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  font-size: .8rem;
  width: 100%;
  font-weight: bold;
}

.letterContainer .guestsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: fit-content;
  min-height: 30vh;
  font-weight: bold;
}

.letterContainer .guestsContainer > p:first-of-type {
  align-self: self-start;
}

.letterContainer .guestsContainer .guestName {
  font-size: 2rem;
}

.letterContainer .guestsIcons {
  display: flex;
  gap: .25rem;
  color: var(--light-terracota);
}

.mainImageContainer {
  position: relative;
  min-height: fit-content;
  overflow: hidden;
}

.mainImageContainer .mainImageTopText, .mainImageContainer .mainImageBottomText {
  position: absolute;
  padding: .5rem;
  border-radius: calc(var(--border-radius) / 2);
  z-index: 1;
}

.mainImageContainer .mainImageTopText {
  top: -3rem;
  right: .5rem;
  background-color: var(--floral-white);
  /* z-index: -1; */
}

.mainImageContainer .mainImageBottomText {
  bottom: -40%;
  left: 50%;
  color: var(--floral-white);
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  text-align: center;
}

.mainImageContainer .mainImageBottomText p:last-child {
  white-space: nowrap;
  font-size: 2.75rem;
}

.mainImageContainer .imgOverlay {
  background-color: var(--smoky-black);
  position: absolute;
  inset: 0;
  opacity: 0;
}

.letterContainer .imagesContainer {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

/* END OF LETTER */

/* SCROLLDOWN ==================== */
.scrollDown {
  position: absolute;
  top: 90%;
  color: var(--floral-white);
  font-size: 1.25rem;
  animation: scrollBlink 1000ms ease-in-out infinite;
}

@keyframes scrollBlink {
  0%, 100% {opacity: 1;}
  50% {transform: translateY(8px);  opacity: 0;}
}
/* END OF SCROLLDOWN ==================== */

/* COUNTDOWN ===================== */
.countDown {
  display: flex;
  gap: 1rem;
  padding: .5rem 1rem;
  background-color: var(--floral-white);
  border-radius: .5rem;
  position: fixed;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.countDown > * {
  text-align: center;
}

.countDown p:first-child {
  font-weight: bold;
}
/* END OF COUNTDOWN ============== */